# Model Training

No need to save the EDA encoded data, because we need to do the automated entire process.
Why we didnt save that data?

    Because whenever we got a new data, we need to perform this so for that I didnt save that data.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/airline.csv")

In [4]:
df.head()

,Unnamed: 0,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

#### 1. Dropping Unneccasary Columns & Filling nan values

In [5]:
df = df.drop(["Unnamed: 0"], axis=1)

In [32]:
df.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
dtype: int64

In [33]:
df["Arrival Delay in Minutes"] = df["Arrival Delay in Minutes"].fillna(df["Arrival Delay in Minutes"].median())

#### 2. Splitting Independent and Dependent Feature

In [34]:
X = df.drop(["satisfaction"], axis=1)
y = df[["satisfaction"]]

In [35]:
X.sample(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
123941,Male,Loyal Customer,32,Personal Travel,Eco,163,3,4,0,1,...,2,2,5,5,4,3,4,2,0,0.0
82719,Female,Loyal Customer,30,Business travel,Business,2944,5,5,5,5,...,5,5,3,1,2,4,3,5,0,0.0
81246,Female,Loyal Customer,22,Personal Travel,Business,235,2,4,2,1,...,2,2,4,3,5,3,4,2,52,41.0
82468,Male,Loyal Customer,29,Business travel,Eco,1747,1,5,3,5,...,1,1,1,5,2,3,2,1,0,0.0
51008,Male,Loyal Customer,37,Business travel,Business,1833,4,4,4,4,...,5,4,4,4,4,3,4,4,0,0.0

In [36]:
y.sample(5)

                   satisfaction
117989  neutral or dissatisfied
50529                 satisfied
33882   neutral or dissatisfied
115559  neutral or dissatisfied
36514                 satisfied

#### 3. Defining which column should be ordinal encoded and which should be scaled

In [37]:
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude="object").columns

In [38]:
categorical_cols

Index(['Gender', 'Customer Type', 'Type of Travel', 'Class'], dtype='object')

In [39]:
numerical_cols

Index(['Age', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='object')

#### 4. Defining the values for categorical values

In [40]:
categorical_cols

Index(['Gender', 'Customer Type', 'Type of Travel', 'Class'], dtype='object')

In [41]:
## customer_type_categories = ["disloyal Customer", "Loyal Customer"]
## class_categories = ["Eco", "Eco Plus", "Business"]

#### 5. Libraries for Handling Missing Values, Feature Scaling and Feature Engineering

In [42]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

#### 6. Pipelines

In [43]:
# Feature splittings

numerical_features = ['Age', 'Flight Distance', 'Inflight wifi service','Departure/Arrival time convenient',
                                 'Ease of Online booking','Gate location', 'Food and drink', 'Online boarding',
                                 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 
                                 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness',
                                 'Departure Delay in Minutes', 'Arrival Delay in Minutes']
            
ordinal_features=["Customer Type", "Class"]

onehot_features = ["Gender", "Type of Travel"]

# Define the transformers
numeric_transformer = StandardScaler()
ordinal_transformer = OrdinalEncoder()
oh_transformer = OneHotEncoder(drop='first')


## We created numericals separately and categoricals separately,Now we need to combine this.
preprocessor = ColumnTransformer(
    transformers=[
        ('ordinal', ordinal_transformer, ordinal_features),
        ('oh', oh_transformer, onehot_features),
        ('num', numeric_transformer, numerical_features)
    ]
)

In [44]:
le = LabelEncoder()

y = le.fit_transform(y)

c:\Users\msant\Passenger_Satisfaction_Prediction\venv\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [45]:
y

array([0, 0, 1, ..., 0, 1, 0])

#### 7. Train, Test Split

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=42)

In [47]:
preprocessor.fit_transform(X_train) # Automatically missing values are also handled,
# Feature scaling are also done.

array([[ 0.        ,  1.        ,  1.        , ..., -0.21979871,
        -0.38777441, -0.3927303 ],
       [ 0.        ,  1.        ,  0.        , ..., -0.9820806 ,
        -0.38777441, -0.23559636],
       [ 0.        ,  1.        ,  0.        , ...,  0.54248318,
        -0.04436771, -0.1046514 ],
       ...,
       [ 0.        ,  1.        ,  0.        , ...,  1.30476507,
        -0.38777441, -0.3927303 ],
       [ 0.        ,  1.        ,  0.        , ...,  0.54248318,
        -0.38777441, -0.3927303 ],
       [ 0.        ,  1.        ,  1.        , ..., -0.9820806 ,
        -0.38777441, -0.3927303 ]])

#### Now converting this into dataframe

In [48]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

In [49]:
X_train.head()

,ordinal__Customer Type,ordinal__Class,oh__Gender_Male,oh__Type of Travel_Personal Travel,num__Age,num__Flight Distance,num__Inflight wifi service,num__Departure/Arrival time convenient,num__Ease of Online booking,num__Gate location,...,num__Seat comfort,num__Inflight entertainment,num__On-board service,num__Leg room service,num__Baggage handling,num__Checkin service,num__Inflight service,num__Cleanliness,num__Departure Delay in Minutes,num__Arrival Delay in Minutes
0,0.0,1.0,1.0,1.0,-0.556029,-0.931831,-0.546105,1.272006,-0.537249,1.583644,...,-0.333719,-0.268539,1.254264,1.253066,0.311569,-0.242969,1.153388,-0.219799,-0.387774,-0.392730
1,0.0,1.0,0.0,1.0,-1.414954,0.378455,-0.546105,-0.692308,-0.537249,0.015805,...,-1.091452,-1.018509,-0.297644,1.253066,0.311569,-0.242969,-0.546921,-0.982081,-0.387774,-0.235596
2,0.0,1.0,0.0,0.0,0.501109,-0.953903,0.958773,-0.692308,-0.537249,-0.768114,...,0.424014,0.481430,0.478310,0.492540,0.311569,-1.823067,0.303234,0.542483,-0.044368,-0.104651
3,0.0,2.0,1.0,1.0,-0.423887,-1.066270,-1.298544,-1.347079,-1.250923,-1.552034,...,0.424014,0.481430,-1.849553,-1.789037,-2.232126,-0.242969,-2.247230,0.542483,0.219791,0.707207
4,0.0,1.0,1.0,1.0,-1.943524,-0.294747,0.958773,-1.347079,0.890098,0.799724,...,-1.091452,-1.018509,-1.849553,-1.028512,-0.536330,-0.242969,-0.546921,-0.982081,-0.387774,-0.052273

In [50]:
X_test.head()

,ordinal__Customer Type,ordinal__Class,oh__Gender_Male,oh__Type of Travel_Personal Travel,num__Age,num__Flight Distance,num__Inflight wifi service,num__Departure/Arrival time convenient,num__Ease of Online booking,num__Gate location,...,num__Seat comfort,num__Inflight entertainment,num__On-board service,num__Leg room service,num__Baggage handling,num__Checkin service,num__Inflight service,num__Cleanliness,num__Departure Delay in Minutes,num__Arrival Delay in Minutes
0,0.0,1.0,1.0,1.0,1.756461,0.491825,0.206334,-0.692308,0.176425,-0.768114,...,0.424014,0.481430,0.478310,-0.267986,-1.384228,-0.242969,-1.397075,0.542483,-0.387774,-0.39273
1,0.0,0.0,0.0,0.0,-0.093531,-0.234550,-0.546105,-0.692308,-0.537249,-0.768114,...,-1.849185,0.481430,0.478310,0.492540,0.311569,-1.033018,0.303234,0.542483,-0.308527,-0.39273
2,0.0,1.0,0.0,0.0,-0.093531,-1.002060,-0.546105,-1.347079,-1.250923,-1.552034,...,-1.091452,-1.018509,-1.849553,-1.028512,0.311569,-1.823067,0.303234,-0.982081,-0.387774,-0.39273
3,0.0,1.0,0.0,1.0,-0.489958,-1.016106,-0.546105,1.272006,-0.537249,-1.552034,...,-1.849185,-1.768479,-0.297644,1.253066,0.311569,1.337129,0.303234,-1.744362,-0.387774,-0.39273
4,0.0,0.0,1.0,0.0,-0.423887,0.804849,1.711211,1.272006,1.603772,1.583644,...,0.424014,0.481430,0.478310,-1.789037,1.159467,1.337129,-2.247230,0.542483,-0.387774,-0.39273

#### 8. Model Training

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report,ConfusionMatrixDisplay,precision_score, recall_score, f1_score

In [52]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.svm import SVC

#### In a real world scenario, we are not going to train the one model, we are going to train the multiple models

In [53]:
models = {
    "Logistic Regression" : LogisticRegression(),
    "Decision Tree" : DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),

    "Naive Bayes": GaussianNB(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "K-Neighbors Classifier": KNeighborsClassifier(),
    "Support Vector Classifier": SVC(),
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
    model_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score
    model_train_precision = precision_score(y_train, y_train_pred) # Calculate Precision
    model_train_recall = recall_score(y_train, y_train_pred) # Calculate Recall


    # Test set performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
    model_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score
    model_test_precision = precision_score(y_test, y_test_pred) # Calculate Precision
    model_test_recall = recall_score(y_test, y_test_pred) # Calculate Recall


    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Accuracy: {:.4f}".format(model_train_accuracy))
    print('- F1 score: {:.4f}'.format(model_train_f1))
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
    
    print('----------------------------------')
    
    print('Model performance for Test set')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1 score: {:.4f}'.format(model_test_f1))
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
    
    print('='*35)
    print('\n')

Logistic Regression
Model performance for Training set
- Accuracy: 0.8744
- F1 score: 0.8740
- Precision: 0.8707
- Recall: 0.8343
----------------------------------
Model performance for Test set
- Accuracy: 0.8746
- F1 score: 0.8743
- Precision: 0.8701
- Recall: 0.8374
===================================


Decision Tree
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 0.9456
- F1 score: 0.9456
- Precision: 0.9376
- Recall: 0.9377
===================================


Random Forest
Model performance for Training set
- Accuracy: 1.0000
- F1 score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
----------------------------------
Model performance for Test set
- Accuracy: 0.9628
- F1 score: 0.9627
- Precision: 0.9747
- Recall: 0.9391
===================================


Naive Bayes
Model performance for Training set
- Accuracy: 0.8644
- F1 score: 0.8639
- Precision: 0.8633
- Recall: 0.8168
----------------------------------
Model performance for Test set
- Accuracy: 0.8638
- F1 score: 0.8634
- Precision: 0.8591
- Recall: 0.8224
===================================


Gradient Boosting
Model performance for Training set
- Accuracy: 0.9434
- F1 score: 0.9433
- Precision: 0.9468
- Recall: 0.9214
----------------------------------
Model performance for Test set
- Accuracy: 0.9416
- F1 score: 0.9415
- Precision: 0.9462
- Recall: 0.9182
===================================


AdaBoost Classifier
Model performance for Training set
- Accuracy: 0.9272
- F1 score: 0.9271
- Precision: 0.9219
- Recall: 0.9091
----------------------------------
Model performance for Test set
- Accuracy: 0.9261
- F1 score: 0.9261
- Precision: 0.9212
- Recall: 0.9083
===================================


K-Neighbors Classifier
Model performance for Training set
- Accuracy: 0.9499
- F1 score: 0.9498
- Precision: 0.9632
- Recall: 0.9198
----------------------------------
Model performance for Test set
- Accuracy: 0.9269
- F1 score: 0.9266
- Precision: 0.9412
- Recall: 0.8876
===================================


Support Vector Classifier
Model performance for Training set
- Accuracy: 0.9568
- F1 score: 0.9567
- Precision: 0.9606
- Recall: 0.9389
----------------------------------
Model performance for Test set
- Accuracy: 0.9521
- F1 score: 0.9520
- Precision: 0.9571
- Recall: 0.9318
===================================

In [54]:
list(models.keys())

['Logistic Regression',
 'Decision Tree',
 'Random Forest',
 'Naive Bayes',
 'Gradient Boosting',
 'AdaBoost Classifier',
 'K-Neighbors Classifier',
 'Support Vector Classifier']

                                                    Completed